{% extends 'base.html.twig' %}

{% block body %}
    <section class="dashboard">
        <div class="element">
            <canvas id="myChart"></canvas>
        </div>
        <div class="element">
            <canvas id="myPieChart"></canvas>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart');
            // const accountId = 1;

            fetch('{{ path('chart_data', {'id': account.id}) }}')
                .then(response => response.json())
                .then(data => {
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Balance History',
                                data: data.datasets[0].data,
                                borderWidth: 1,
                            }],
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    // Now, call the function to create the pie chart with the fetched data
                    createPieChart(data);
                });
        });

        // Function to create the pie chart
        function createPieChart(data) {
            var ctx = document.getElementById('myPieChart').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.datasets[0].data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                        ],
                    }],
                },
            });
        }
    </script>
{% endblock %}
