{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/dashboard.css') }}">
{% endblock %}

{% block body %}
    <section class="dashboard">
        <div class="element">
            <p>dashboard</p>
            <div>
                <!-- ACCOUNT DIV -->
            </div>
        </div>
    </section>


{% endblock %}

