{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/dashboard.css') }}">
{% endblock %}

{% block body %}
    <section class="dashboard">
        <p>dashboard</p>
        <div>
            <!-- SETTING ACCOUNT DIV -->

        </div>
    </section>


{% endblock %}

