{% extends 'base.html.twig' %}
{% block body %}
    <h2>Bienvenue sur votre profil : {{ username }}</h2>
    <p>Votre username : {{ username }}</p>
    <p>Votre email : {{ email }}</p>

{% endblock %}
