{% extends 'base.html.twig' %}
{% block body %}
<section class="dashboard">
    <div class="element">
        <h2>Bienvenue sur votre profil : {{ username }}</h2>
        <p>Votre username : {{ username }}</p>
        <p>Votre email : {{ email }}</p>
    </div>
</section>
{% endblock %}
