{% extends 'base.html.twig' %}

{% block body %}
    <section class="dashboard">
        <div class="element">
            <h1>Goal Progress Chart</h1>
            <canvas id="goalChart" width="100" height="100"></canvas>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('goalChart').getContext('2d');
            var progress = {{ progress }};

            const data = {
                labels: ['Progression', 'Goal final'],
                datasets: [{
                    label: 'Données',
                    data: [progress, 100 - progress],
                    backgroundColor: ['#36A2EB', '#FFCE56'],
                    borderColor: ['#36A2EB', '#FFCE56'],
                }]
            };

            var options = {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Goal Progress'
                    }
                },
                animation: {
                    animateRotate: true,
                    animateScale: true
                },
            };

            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: options
            });
        });
    </script>
{% endblock %}