.dashboard {
  margin-right: 55px;
}
.dashboard .header {
  display: flex;
}
.dashboard .header .top3 {
  width: 330px;
}
.dashboard .header .stats {
  width: 100%;
}

.background-plain {
  padding: 0 10px;
  border-radius: 52px;
  background-color: var(--color-black);
  color: white;
  margin-left: 8px;
}

.top-dash-content {
  display: flex;
}
.top-dash-content .stats {
  display: flex;
  width: 100%;
}
.top-dash-content .stats div {
  margin: 0 15px;
}
.top-dash-content .stats div p {
  display: inline;
  font-weight: 800;
}
.top-dash-content .stats div p span {
  font-weight: 500;
  margin-left: 8px;
}
.top-dash-content .transactions {
  display: flex;
  justify-content: center;
  position: relative;
}
.top-dash-content .transactions button {
  margin: 0 10px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
}
.top-dash-content .historyLink, .top-dash-content .goalLink, .top-dash-content .deleteLink {
  text-align: center;
  font-size: 33px;
  width: 65px;
}
.top-dash-content .deleteLink a i {
  color: var(--color-red);
}

#expenseForm {
  display: none;
}

.toastForm {
  display: none;
  position: absolute;
  width: 320px;
  padding: 20px;
  margin-top: 75px;
  animation: fadeIn 1s;
}
.toastForm div h3 {
  margin-bottom: 25px;
}
.toastForm div h3 span {
  border: 1px solid var(--color-black);
  color: white;
  background-color: var(--color-black);
  padding: 5px 10px;
  border-radius: 25px;
  margin-left: 15px;
}
.toastForm div form {
  align-items: center;
}
.toastForm div .btn-div {
  margin-top: 15px;
  display: block;
  text-align: right;
}
.toastForm div .btn-div .button {
  padding: 5px 15px;
  border: 1px solid black;
}
.toastForm div .btn-div .button i {
  margin-left: 15px;
}
.toastForm div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toastForm div input, .toastForm div select {
  padding: 8px 13px;
  border: none;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  margin: 4px;
  margin-left: 8px;
  display: inline;
}
.toastForm div input:focus {
  outline: none;
}
.toastForm div .btn {
  margin-left: auto;
  font-size: 18px;
  margin-top: 15px;
  color: white;
}
.toastForm div .btn i {
  color: #333;
  margin-left: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.addacount .addaccountform {
  padding: 20px;
  animation: fadeIn 1s;
}
.addacount .addaccountform div h3 {
  margin-bottom: 25px;
}
.addacount .addaccountform div h3 span {
  border: 1px solid var(--color-black);
  color: white;
  background-color: var(--color-black);
  padding: 5px 10px;
  border-radius: 25px;
  margin-left: 15px;
}
.addacount .addaccountform div form {
  align-items: center;
}
.addacount .addaccountform div .btn-div {
  margin-top: 15px;
  display: block;
  text-align: right;
}
.addacount .addaccountform div .btn-div .button {
  padding: 5px 15px;
  border: 1px solid black;
}
.addacount .addaccountform div .btn-div .button i {
  margin-left: 15px;
}
.addacount .addaccountform div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addacount .addaccountform div input,
.addacount .addaccountform div select {
  padding: 8px 13px;
  border: none;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  margin: 4px;
  margin-left: 8px;
  display: inline;
}
.addacount .addaccountform div input:focus {
  outline: none;
}
.addacount .addaccountform div .btn {
  margin-left: auto;
  font-size: 18px;
  margin-top: 15px;
  color: white;
}
.addacount .addaccountform div .btn i {
  color: #333;
  margin-left: 15px;
}

/*# sourceMappingURL=dashboard.css.map */
