// BASE SASS FILE - init global sass content

// Google Fonts Import : Poppins + League Spartan
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Default initialization
*{
  margin: 0;
  padding: 0;
  color: var(--color-black);
  ul{list-style: none;}
  a{text-decoration: none;}
  button:hover{cursor: pointer;}
}

// Variables definitions
:root{
  --color-black: #222;
  --color-white: white;
  --color-darkgrey: #323232;

  --color-primary: #F1EFE7;
  --color-red: #FF6F59;
  --color-blue: #576CA8;

  --font-title: 'League Spartan', sans-serif;
  --font-content: 'Poppins', sans-serif;
}

// Selection custom color
::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

// Main style definition, header and body disposition
body {
  background-color: var(--color-primary);
  font-family: var(--font-content);
  // header {
  //   border:1px solid black;
  //   color: black;
  //   padding: 20px;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   width: 220px;
  //   height: 100%;
  //   img {
  //     max-width: 60px;
  //     height: 60px;
  //   }
  //   .name{
  //     margin: -40px 0 0 80px
  //   }
  //   .case{
  //     width: 100%;
  //     height:100px;
  //     margin: 55px 0 0 0;
  //     background-color: white;
  //     border-radius: 15px;
  //   }
  //   .nav-account {
  //     background-color: red;
  //     margin-top: 20px;
  //     width: 100%;
  //     height:300px;
  //     ul {
  //       list-style: none;
  //       padding: 0;
  //       li {
  //         margin-bottom: 10px;
  //         a {
  //           text-decoration: none;
  //           color: white;
  //           &:hover {
  //             text-decoration: underline;
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .nav-bas{

  //   }
  // }
}

// Individual elements style definition
.uptitle{
  font-family: var(--font-title);
  font-weight: 800;
  letter-spacing: -5px;
  font-size: 90px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.24));
}
.subtitle {
  font-family: var(--font-title);
  font-size: 25px;
  margin-top: -14px;
  text-align: left;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.24));
}