main {
  .content {
    width: 60%;
    height: 60%;
    margin: 15% 20% 15% 20%;

    .logo {
      img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin-left: 75px;
      }
    }

    .title {
      font-family: var(--font-title);
      font-size: 60px;
      width: 530px;
      margin: -150px 0 0 300px;
    }

    .subtitle {
      font-family: var(--font-title);
      font-size: 15px;
      width: 530px;
      margin: -15px 0 0 300px;
      text-align: center;
    }

    .nav {
      width: 530px;
      margin: 30px 0 0 300px;

      a {
        display: inline-block;
        text-align: center;
        padding: 5px 25px;
        border-radius: 20px;
        border: 1px solid black;
        margin-right: 23px;
      }
    }
  }
}