{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/accueil.css') }}">
{% endblock %}

 {% block body %}
    <!-- https://codepen.io/TurkAysenur/pen/ZEpxeYm -->
    <!-- Maybe think about use a svg animated background like this on the dashboard ?? -->

     <div class="home-content">
         <div class="title">
            <img src="{{ asset('assets/images/logo/rW-logo-icon-white.png') }}" class="nav-logo" alt="Logo du site">
            <div class="text">
                <h1 class="uptitle">ratWallet.</h1>

                <div class="subtitle-slider">
                    <div class="subtitle-slider__container">
                        <ul class="subtitle-slider__container__list">
                            <li class="subtitle-slider__container__list__item subtitle">Master Your Finances</li>
                            <li class="subtitle-slider__container__list__item subtitle">Simplify, Organize, Prosper</li>
                            <li class="subtitle-slider__container__list__item subtitle">Elevate with Organized Finances</li>
                            <li class="subtitle-slider__container__list__item subtitle">Organize Your Financial Life</li>
                        </ul>
                    </div>
                </div>
{#                <h2 class="subtitle">Organize Your Financial Life</h2>#}
                <!-- Other subtitles example : maybe make a switch effect on subtitle ? -->
                <!-- Effect examples : https://codepen.io/spaling/pen/rNemwb ;   -->
                <!-- <h2 class="subtitle">Master Your Finances</h2> -->
                <!-- <h2 class="subtitle">Optimize and Organize Your Wallet</h2> -->
                <!-- <h2 class="subtitle">Simplify, Organize, Prosper</h2> -->
                <!-- <h2 class="subtitle">Elevate with Organized Finances</h2> -->
            </div>
         </div>
         <div class="nav">
            <!-- Add hover effect -->
            <!-- Effect examples : https://codepen.io/aaroniker/pen/OJPqPMR ; https://codepen.io/aaroniker/pen/XWYpyNM -->
             <a href="{{ path('app_login') }}" class="btn">Se connecter</a>
             <a href="{{ path('app_register') }}" class="btn">Créer un compte</a>
             <a href="https://github.com/KaazDW/A3S5-ratWallet" target="_blank">Github</a>
         </div>
     </div>
 {% endblock %}