<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

<body>
    <div class="logo">

    </div>
    <div class="nav">
        <ul>
            <li><a href="{{ path('dashboard') }}" class="btn">Je sais pas</a></li>
            <li><a href="{{ path('app_login') }}" class="btn">Connection</a></li>
            <li><a href="https://github.com/KaazDW/A3S5-ratWallet" class="btn">Github</a></li>
        </ul>
    </div>
</body>
</html>
