{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/accueil.css') }}">
{% endblock %}

 {% block body %}
     <div class="content">
         <div class="logo">
             <img src="{{ asset('assets/images/logo/rW-logo-icon-white.png') }}" class="nav-logo" alt="Logo du site">
         </div>
         <div class="title">
             <h1>ratWallet.</h1>
         </div>
         <div class="subtitle">
             <h2>finance finance</h2>
         </div>
         <div class="nav">
             <a href="{{ path('app_login') }}" class="btn">Se connecter</a>
             <a href="{{ path('app_register') }}" class="btn">Créer un compte</a>
             <a href="https://github.com/KaazDW/A3S5-ratWallet" target="_blank">Github</a>

         </div>
     </div>
 {% endblock %}