<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <header>
        <img src="{{ asset('images/logo/logo-shop.png') }}" class="nav-logo" alt="Logo du site">
        <ul>
            {% if app.user %}
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('profile') }}">Profile</a></li>
                <li><a href="logout" class="btn">Déconnexion</a></li>
            {% else %}
                {# If NOT connected #}
                <li><a href="login" class="btn-round">Connexion</a></li>
            {% endif %}
        </ul>
    </header>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
